.newcollection {
    .newcollectionItems{
        display: flex;
        justify-content: space-around;
        gap: 10%;
        .newcollectionItem{
            div{
                width: 40vw;
                height: 400px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
            .newColNike{
                background-image: url('../../images/Cover.png');
            }
            .newColCover{
                background-image: url('../../images/Image-Nike.png');
            }
        }
    }
}