.content{
    padding: 0 60px;
    .newArrivals{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .slider{
        display: flex;
        height: 80%;
    }
    .swiper{
        overflow: unset;
        overflow-x: clip;
        .swiper-button-prev{
            left: 248px;
            top: -45px;
        }
        .swiper-button-next{
            left: 308px;
            top: -45px;
        }
        .swiper-button-prev, .swiper-button-next{
            color: #b3bdc9;
            border-radius: 50%;
            border: 1px solid gray;
            padding: 5px 10px;
        }
    } 
    .swiperDiv{
        display:flex;
        flex-direction: column;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        span{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        span:nth-of-type(2){
            color: #838383
        }
    }
    .shopSport{
        .swiper-wrapper{
            display: flex;
            justify-content: space-between;
            .swiperSlide{
                width: 30%;
            }
        }
    }
}

