.joinClub {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5be67;
  padding: 46px;
  font-size: 30px;
  gap: 32px;
  .joinClubLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 268px;
    background-color: #fff;
  }
}
